$animation-start: -7.5;
$animation-end: 7.5;

.dance {
  -webkit-animation: rotatetweet 2.4s infinite ease-in-out;
  animation: rotatetweet 2.4s infinite ease-in-out;
  transform-origin: 50% -50%;

  &.paused {
    animation-play-state:paused;
  }
}

@-webkit-keyframes rotatetweet {
  0% { -webkit-transform: rotate(#{$animation-start}deg); }
  50% { -webkit-transform: rotate(#{$animation-end}deg); }
  100% { -webkit-transform: rotate(#{$animation-start}deg); }
}

@keyframes rotatetweet {
  0% {
    transform: rotate(#{$animation-start}deg);
    -webkit-transform: rotate(#{$animation-start}deg);
  }
  50% {
    transform: rotate(#{$animation-end}deg);
    -webkit-transform: rotate(#{$animation-end}deg);
  }
  100% {
    transform: rotate(#{$animation-start}deg);
    -webkit-transform: rotate(#{$animation-start}deg);
  }
}
